* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    
    
}
.active {
    color: white;
    background-color: cadetblue;
    padding: 5px;
    border-radius: 10px;
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding: 10px;
}
ul li {
    margin-right: 20px;
    cursor: pointer;
}
.imgs {
    text-align: center;
}
img {
    width: 150px;
    height: 150px;
}
